---
layout: default
title: Home
---

<table style="width: 100%; font-weight: normal; text-align: left;">
    <tr>
      <td style="width: 70%; vertical-align: top;">
<p>Hey 👋</p>

<p>
    I'm Thassilo, I like systems programming and am just starting to study physics at ETH Zurich
    in my first year. I'm interested in operating systems and related low-level software. It's important to
    become really good at things and make what you like and others find valuable. Prefer
    long-term thinking.
</p>

<p>Reach me via email.</p>

      </td>
      <td class="desktop-links" style="vertical-align: top;">
        {% include links.html %}
      </td>
    </tr>
</table>

<div class="mobile-links">
  {% include links.html %}
</div>

<h1>Posts</h1>

<table class="posts">
    <tbody>
	{%- for post in site.posts -%}
	<tr>
	    <td>
		<time datetime="{{ post.date | date: "%Y-%m-%d" }}">
		    {{ post.date | date_to_string }}
		</time>
	    </td>
	    <td>
		{%- if post.gist_url -%}
			<a href="{{ post.gist_url }}">{{ post.title }}</a>
			{%- if post.is_foreign -%}
				<span> (Foreign Gist)</span>
			{%- else -%}
				<span> (Gist)</span>
			{%- endif -%}
		{%- else -%}
			<a href="{{ post.url }}">{{ post.title }}</a>
		{%- endif -%}
	    </td>
	</tr>
	{%- endfor -%}
    </tbody>
</table>
