---
layout: default
---

<article>
    {{ content }}
</article>

<footer>
    <div class="white-box" style="height: 60px"></div>
    <div class="black-box" style="height: var(--1)"></div>
    <div class="white-box" style="height: var(--14)"></div>
    <div class="black-box" style="height: var(--2)"></div>
    <div class="white-box" style="height: var(--13)"></div>
    <div class="black-box" style="height: var(--3)"></div>
    <div class="white-box" style="height: var(--12)"></div>
    <div class="black-box" style="height: var(--4)"></div>
    <div class="white-box" style="height: var(--11)"></div>
    <div class="black-box" style="height: var(--5)"></div>
    <div class="white-box" style="height: var(--10)"></div>
    <div class="black-box" style="height: var(--6)"></div>
    <div class="white-box" style="height: var(--9)"></div>
    <div class="black-box" style="height: var(--7)"></div>
    <div class="white-box" style="height: var(--8)"></div>
    <div class="black-box" style="height: var(--8)"></div>
    <div class="white-box" style="height: var(--7)"></div>
    <div class="black-box" style="height: var(--9)"></div>
    <div class="white-box" style="height: var(--6)"></div>
    <div class="black-box" style="height: var(--10)"></div>
    <div class="white-box" style="height: var(--5)"></div>
    <div class="black-box" style="height: var(--11)"></div>
    <div class="white-box" style="height: var(--4)"></div>
    <div class="black-box" style="height: var(--12)"></div>
    <div class="white-box" style="height: var(--3)"></div>
    <div class="black-box" style="height: var(--13)"></div>
    <div class="white-box" style="height: var(--2)"></div>
    <div class="black-box" style="height: var(--14)"></div>
    <div class="white-box" style="height: var(--1)"></div>
    <div class="black-box" style="height: var(--15)">
	I liked this kind of pattern at the bottom of OpenAI's site :)
    </div>
</footer>

<!-- Mathjax -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
     tex2jax: {
	 inlineMath: [['$','$'], ['\\(','\\)']],
	 processEscapes: true
     }
 });
</script>
