---
layout: default
---

<article>
    <header>
    <h1 class="post-title">
    <a href="{{ path }}">{{ title }}</a>
</h1>

<small>
    <time datetime="{{ datetime }}">{{ date }}</time>
</small>
    </header>
{{ content }}
</article>

<!-- Mathjax -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
     tex2jax: {
	 inlineMath: [['$','$'], ['\\(','\\)']],
	 processEscapes: true
     }
 });
</script>
